* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

hr,
p {
    margin: 0;
}

p.error {
    color: red;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
    background-color: white;
}

.logo img {
    width: 250px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
